.red{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: red;
}
.yellow{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: yellow;
}
.green{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: green;
}
.on{
    box-shadow: 0 0 40px #ffd6db
}