.mesa{
    width: 1000px;
    height: 800px;
    background-color: rgb(100, 100, 100);
    margin-left: auto;
    margin-right: auto;
}
.reset{
    position: absolute;
    margin-left: -35px;
}
.choose{
    width: 600px;
    height: 300px;
    background-color: rgb(80, 80, 80);
    margin-top: 100px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.weapon{
    font-size: 60px;
    width: 80px;
    height: 100px;
    margin-top: 10px;
    /* margin-left: 90px; */
    background-color: rgb(39, 39, 39);
}
.weapon:hover{
    background-color: rgb(100, 100, 100);
}
.tablero {
    width: 800px;
    height: 600px;
    background-color: rgb(80, 80, 80);
    margin-left: auto;
    margin-right: auto;
}
.tablero .row {
    margin-left:10px;
    padding-top:100px;
    margin-right: 10px;
}
.tablero .col{
    padding:0px;
}
.tablero .hr{
    color: white;
    width: 200px;
}
.tablero .line{
    margin-top: 5px;
    margin-right: 0px;
    border-bottom: solid;
    border-color: white;
}
.tablero .borde{
    border-right-style:solid;
    border-color: white;
}
.tablero .weapon{
    font-size: 60px;
    width: 220px;
    height: 100px;
    margin-top: 10px;
    margin-left: 20px;
    background-color: rgb(39, 39, 39);
}

